/* Box Model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* General */
body {
  background: #d3d3d3;
}

strong {
  font-weight: 700;
}

/* Nav Bar */
.nav {
  /* height: 180px; */
  padding: 10px 25px;
  /* border-bottom: 1px solid lightgrey; */
  background: #d3d3d3;
}

.nav-list {
  display: flex;
  height: 140px;
}

.nav-list li {
  /* display: flex; */
  /* border: 1px solid red; */
  flex: 1;
}

/* .logo {
  flex: 2;
} */

.nav-list a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 138px;
  padding: 0 10px;
  /* border: 1px solid blue; */
}

.topics span {
  display: block;
  width: 80%;
  height: 50px;
  background: #808080;
}

.menu span {
  width: 100%;
  height: 26px;
  background: #808080;
}

.menu span:first-child {
  width: 30%;
}

.menu span:nth-child(2) {
  width: 60%;
}

/* .logo img,
.topics span {
  align-self: center;
} */

/* Latest Articles */
.latest-articles {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.main-heading,
.btn {
  position: absolute;
}

.latest-articles article {
  width: 50%;
  height: 700px;
  padding: 0 70px;
  display: flex;
  align-items: flex-end;
}

.first,
.fourth {
  background: #B4BCC4;
}

.second,
.third {
  background: #BCBCBC;
}

.latest-articles .third,
.latest-articles .fourth {
  height: 575px;
  align-self: flex-end;
}

.info {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  height: 500px;
  /* border: 1px solid blue; */
}

 /* .first .info,
.second .info {
  margin-top: 190px;
} */

.info * {
  /* border: 1px solid red; */
  display: block;
}

.info > * {
  margin-bottom: 30px;
}

.info .author {
  height: 75px;
  display: flex;
  /* overflow: hidden; */
}

.info .author a {
  /* float: left; */
}

.info .author span {
  width: 200px;
  height: 25px;
  /* float: left; */
  margin-left: 20px;
  padding: 25px 0;
  /* border: 1px solid green; */
}

.author span a {
  width: 100%;
  height: 30px;
  background: grey;
}

.info .title {
  position: relative;
  background: #fff;
}

.info .title h2 {
  /* float: left; */
  font-size: 35px;
  line-height: 1.3;
  color: #808080;
  font-weight: bold;
}

.info .title a {
  position: absolute;
  right: 75px;
  bottom: 10px;
  width: 155px;
  height: 25px;
  /* float: right; */
  background: grey;
}

.tags {
  display: flex;
  margin-top: 50px;
}

a.tags,
.tags li {
  /* float: left; */
  width: 29%;
  height: 26px;
  margin-right: 20px;
  /* border: 1px solid blue; */
  background: grey;
}

.info .arrow {
  width: 8%;
  height: 20px;
  background: grey;
  margin-top: 80px;
}

.second .arrow,
.third .arrow {
  margin-top: 128px;
}

.btn {
  top: 40px;
  right: 40px;
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.btn button {
  display: block;
  border: none;
  background: none;
}

.btn button:first-child {
  width: 25%;
  height: 50px;
  background: #808080;
}

.btn button:last-child {
  width: 70%;
  height: 35px;
  background: #808080;
  align-self: center;
}

.main-heading {
  top: 60px;
  left: 300px;
  right: 300px;
  font-size: 33px;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;
}

.main-heading span {
  padding: 10px;
  background: #fff;
  color: #808080;
}

/*Recent Articles*/
.recent-articles {
  position: relative;
  max-width: 1280px;
  margin: 70px auto;
  display: flex;
  flex-wrap: wrap;
}

.section-heading,
.see-more {
  position: absolute;
}

.recent-articles article,
.ad {
  width: 33.33%;
  height: 948px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  /* padding-bottom: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ad {
  background: #BCBCBC;
}

.recent-articles .first-ra,
.recent-articles .second-ra,
.recent-articles .third-ra {
  height: 516px;
}

.details > *,
.arrow-ra,
.join > * {
  display: block;
}

.duration {
  width: 30%;
  height: 20px;
  background: #808080;
}

.details h3 {
  padding: 10px 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  background: #fff;
  color: #808080;
  text-decoration: underline;
}

.author-ra {
  width: 30%;
  height: 40px;
  background: #808080;
  margin: 15px 0;
}

.details p {
  padding-top: 5px;
  padding-bottom: 30px;
  line-height: 2;
  background: #fff;
  color: #808080;
}

.arrow-ra {
  width: 8%;
  height: 10px;
  background: #808080;
  margin-bottom: 50px;
}

.join {
  width: 70%;
  height: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

.join > * {
  width: 100%;
}

.join img {
  display: block;
  width: 100%;
}

.join h2 {
  height: 190px;
  background: #808080;
}

.join p {
  height: 210px;
  background: #808080;
}

.join a:nth-of-type(2) {
  height: 80px;
  background: #808080;
}

.join span {
  height: 50px;
  background: #808080;
}

.see-more {
  top: 2550px;
  left: 525px;
  display: block;
  width: 250px;
  height: 40px;
  background: #808080;
}

.section-heading {
  top: -85px;
  left: -29px;
  width: 20px;
  height: 200px;
  background: #808080;
}

/* First Book */
.first-book {
  margin-top: 230px;
  padding: 70px 0;
  /* height: 1090px; */
  background: #B4BCC4;
}

.book-info {
  max-width: 1280px;
  height: 949px;
  margin: 0 auto;
  padding: 0 24px;
}

.book-info > * {
  display: block;
}

.book-info span {
  height: 28px;
  width: 28%;
  margin: 0 auto;
  background: #808080;
}

.book-info h2 {
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 10px 0;
  font-size: 35px;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #808080;
}

.book-info p {
  width: 55%;
  margin: 15px auto;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  background: #808080;
  color: #fff;
}

.book-info a:first-of-type {
  width: 30%;
  height: 65px;
  margin: 50px auto;
  background: #808080;
}

.book-info a:last-of-type {
  width: 920px;
  margin: 0 auto;
}

/* Community */
.community {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 200px;
  padding-left: 25px;
  padding-right: 25px;
}

.section-heading-cs,
.see-more-cs {
  position: absolute;
}

.person {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
}

.person a {
  display: block;
  width: 300px;
  height: 300px;
}

.person-info {
  width: 923px;
  height: 223px;
  background: white;
}

.person-info h4 {
  width: 25%;
  height: 37px;
  background: #808080;
}

.person-info p {
  width: 100%;
  height: 131px;
  background: #808080;
  margin-top: 55px;
}

.more-articles {
  display: flex;
  flex-wrap: wrap;
}

.more-articles article {
  width: 50%;
  height: 379px;
  display: flex;
  align-items: center;
}

.more-info {
  width: 621px;
  height: 218px;
  display: flex;
  justify-content: space-between;
}

.more-info > a {
  display: block;
  width: 80px;
  height: 80px;
  text-align: right;
}

.more-info div {
  width: 521px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-info div > span {
  display: block;
  width: 30%;
  height: 20px;
  background: #808080;
}

.more-info h3 {
  padding: 5px 0;
  font-size: 25px;
  font-weight: bold;
  background: #fff;
}

.more-info h3 a {
  color: #808080;
  text-decoration: none;
}

.more-info p {
  line-height: 1.6;
  background: #fff;
  color: #808080;
}

.more-info p span {
  font-size: 12px;
}

.see-more-cs {
  top: 1550px;
  left: 525px;
  display: block;
  width: 250px;
  height: 40px;
  background: #808080;
}

.section-heading-cs {
  top: -20px;
  left: -29px;
  width: 20px;
  height: 200px;
  background: #808080;
}

/* Second Book Section */
.second-book {
  padding: 50px 60px;
  display: flex;

}

.second-book div {
  width: 68%;
  padding: 0 20px;
}

.second-book > a {
  position: relative;
  width: 32%;
  display: block;
}

.second-book span {
  display: block;
  width: 33%;
  height: 20px;
  background: #808080;
}

.second-book h2 {
  padding: 25px 0;
  margin: 15px 0;
  font-size: 35px;
  font-weight: bold;
  background: #fff;
}

.second-book h2 a {
  color: #808080;
}

.second-book p {
  padding: 5px 0;
  line-height: 1.6;
  color: #808080;
  background: #fff;
}

.second-book div > a {
  display: block;
  width: 33%;
  height: 70px;
  margin-top: 25px;
  background: #808080;
}

.second-book img {
  position: absolute;
  right: 0;
  top: -80px;
}