/* Box Model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #d3d3d3;
}

/* Nav Bar */
.nav {
  /* height: 180px; */
  padding: 10px 25px;
  /* border-bottom: 1px solid lightgrey; */
  background: #d3d3d3;
}

.nav-list {
  display: flex;
  height: 140px;
}

.nav-list li {
  /* display: flex; */
  /* border: 1px solid red; */
  flex: 1;
}

/* .logo {
  flex: 2;
} */

.nav-list a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 138px;
  padding: 0 10px;
  /* border: 1px solid blue; */
}

.topics span {
  display: block;
  width: 80%;
  height: 50px;
  background: #808080;
}

.menu span {
  width: 100%;
  height: 26px;
  background: #808080;
}

.menu span:first-child {
  width: 30%;
}

.menu span:nth-child(2) {
  width: 60%;
}

/* .logo img,
.topics span {
  align-self: center;
} */

/* Latest Articles */
.latest-articles {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.main-heading,
.btn {
  position: absolute;
}

.latest-articles article {
  width: 50%;
  height: 700px;
  padding: 0 70px;
  display: flex;
  align-items: flex-end;
}

.first,
.fourth {
  background: #B4BCC4;
}

.second,
.third {
  background: #BCBCBC;
}

.latest-articles .third,
.latest-articles .fourth {
  height: 575px;
  align-self: flex-end;
}

.info {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  height: 500px;
  /* border: 1px solid blue; */
}

 /* .first .info,
.second .info {
  margin-top: 190px;
} */

.info * {
  /* border: 1px solid red; */
  display: block;
}

.info > * {
  margin-bottom: 30px;
}

.info .author {
  height: 75px;
  display: flex;
  /* overflow: hidden; */
}

.info .author a {
  /* float: left; */
}

.info .author span {
  width: 200px;
  height: 25px;
  /* float: left; */
  margin-left: 20px;
  padding: 25px 0;
  /* border: 1px solid green; */
}

.author span a {
  width: 100%;
  height: 30px;
  background: grey;
}

.info .title {
  position: relative;
  background: #fff;
}

.info .title h2 {
  /* float: left; */
  font-size: 35px;
  line-height: 1.3;
  color: #808080;
  font-weight: bold;
}

.info .title a {
  position: absolute;
  right: 75px;
  bottom: 10px;
  width: 155px;
  height: 25px;
  /* float: right; */
  background: grey;
}

.tags {
  display: flex;
  margin-top: 50px;
}

a.tags,
.tags li {
  /* float: left; */
  width: 29%;
  height: 26px;
  margin-right: 20px;
  /* border: 1px solid blue; */
  background: grey;
}

.info .arrow {
  width: 8%;
  height: 20px;
  background: grey;
  margin-top: 80px;
}

.second .arrow,
.third .arrow {
  margin-top: 128px;
}

.btn {
  top: 40px;
  right: 40px;
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.btn button {
  display: block;
  border: none;
  background: none;
}

.btn button:first-child {
  width: 25%;
  height: 50px;
  background: #808080;
}

.btn button:last-child {
  width: 70%;
  height: 35px;
  background: #808080;
  align-self: center;
}

.main-heading {
  top: 60px;
  left: 300px;
  right: 300px;
  font-size: 33px;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;
}

.main-heading span {
  padding: 10px;
  background: #fff;
  color: #808080;
}

/*Recent Articles*/
.recent-articles {
  position: relative;
  max-width: 1280px;
  margin: 70px auto;
  display: flex;
  flex-wrap: wrap;
}

.section-heading,
.see-more {
  position: absolute;
}

.recent-articles article,
.ad {
  width: 33.33%;
  height: 948px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  /* padding-bottom: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ad {
  background: #B4BCC4;
}

.recent-articles .first-ra,
.recent-articles .second-ra,
.recent-articles .third-ra {
  height: 516px;
}

.details > *,
.arrow-ra,
.join > * {
  display: block;
}

.duration {
  width: 30%;
  height: 20px;
  background: #808080;
}

.details h3 {
  padding: 10px 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  background: #fff;
  color: #808080;
  text-decoration: underline;
}

.author-ra {
  width: 30%;
  height: 40px;
  background: #808080;
  margin: 15px 0;
}

.details p {
  padding-top: 5px;
  padding-bottom: 30px;
  line-height: 2;
  background: #fff;
  color: #808080;
}

.arrow-ra {
  width: 8%;
  height: 10px;
  background: #808080;
  margin-bottom: 50px;
}

.join {
  width: 70%;
  height: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

.join > * {
  width: 100%;
}

.join img {
  display: block;
  width: 100%;
}

.join h2 {
  height: 190px;
  background: #808080;
}

.join p {
  height: 210px;
  background: #808080;
}

.join a:nth-of-type(2) {
  height: 80px;
  background: #808080;
}

.join span {
  height: 50px;
  background: #808080;
}

.see-more {
  top: 2550px;
  left: 525px;
  display: block;
  width: 250px;
  height: 40px;
  background: #808080;
}

.section-heading {
  top: -85px;
  left: -29px;
  width: 20px;
  height: 200px;
  background: #808080;
}

/* First Book */
.first-book {
  margin-top: 230px;
}
