/* Box Model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Nav Bar */
.nav {
  /* height: 180px; */
  padding: 10px 25px;
  /* border-bottom: 1px solid lightgrey; */
  background: lightgrey;
}

.nav-list {
  display: flex;
  height: 140px;
}

.nav-list li {
  /* display: flex; */
  /* border: 1px solid red; */
  flex: 1;
}

/* .logo {
  flex: 2;
} */

.nav-list a {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: center; */
  align-items: center;
  height: 138px;
  padding: 0 10px;
  /* border: 1px solid blue; */
}

.topics span {
  display: block;
  width: 100%;
  height: 50px;
  background: #808080;
}

.menu span {
  width: 100%;
  height: 26px;
  background: #808080;
}

/* .logo img,
.topics span {
  align-self: center;
} */

/* Latest Articles */
.latest-articles {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.main-heading,
.btn {
  position: absolute;
}

.latest-articles article {
  width: 50%;
  height: 700px;
  padding: 0 70px;
}

.first,
.fourth {
  background: lightsteelblue;
}

.second,
.third {
  background: #91a2b4;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  border: 1px solid blue;
}

.info * {
  border: 1px solid red;
  display: block;
}

.info > * {
  margin-bottom: 20px;
}

.info .author {
  height: 75px;
  overflow: hidden;
}

.info .author a {
  float: left;
}

.info .author span {
  width: 200px;
  height: 25px;
  float: left;
  margin-left: 20px;
  padding: 25px 0;
  border: 1px solid green;
}

.author span a {
  width: 100%;
  height: 30px;
  background: grey;
}

.info .title {
  position: relative;
}

.info .title h2 {
  float: left;
  font-size: 35px;
  line-height: 1.3;
  color: white;
  font-weight: bold;
}

.info .title a {
  position: absolute;
  right: 75px;
  bottom: 10px;
  width: 155px;
  height: 25px;
  float: right;
  background: grey;
}

.tags li {
  float: left;
  width: 29%;
  height: 26px;
  margin-right: 20px;
  border: 1px solid blue;
  background: grey;
}